@font-face {
  font-family: 'Noto Serif';
  src: url('/public/fonts/NotoSerif-VariableFont_wdth,wght');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/public/fonts/NotoSerif-VariableFont_wdth,wght');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('/public/fonts/NunitoSans_10pt-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/public/fonts/NunitoSans_10pt-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ExtraLight.ttf');
  font-weight: 275;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ExtraLightItalic.ttf');
  font-weight: 275;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-Thin.ttf');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins-ThinItalic.ttf');
  font-weight: 250;
  font-style: italic;
}
