body {
  background: var(--bg);
  margin: 0;
  scroll-behavior: smooth;
  height: 100vh;
  --primary: #4f679b;
  --black: #000;
  --gray: #cfcfcf;
  --white: #fff;
  --white700: rgba(255, 255, 255, 0.7);
  --green: #8fbb33;
  --orange: #ef7f1a;
  --yellow: #ffd60a;
  --red: #ff4d4f;

  --bg: #f1f4f9;
  --content: #fff;
  --border: #dedede;
  --modal: #f0f0f0;
  --stroke: #8b8b8b;
  --gr: #4f679b;
  --grv: linear-gradient(225deg, #bb65ff 0%, #4c6fff 100%);
  --box-shadow: 0px 0px 20px rgba(40, 105, 254, 0.07);
}

#root {
  height: 100%;
}

* {
  // font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  // font-size: 15px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
  margin: 0;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

b {
  font-weight: 600;
}

input {
  font-size: 15px;
}

// input[type='date'] {
//   position: relative;
//   padding: 0;
//   background-repeat: no-repeat;
//   background-position: bottom 0 right 0;
//   margin-right: -30px;
//   height: 100%;
// }

// input[type='date']::after {
//   content: '\f133';
//   font-family: FontAwesome;
//   position: absolute;
//   top: 6px;
//   right: 1px;
//   font-size: 17px;
//   color: var(--main_color);
// }

// input[type='date']::-webkit-calendar-picker-indicator {
//   color: transparent;
//   background: none;
//   z-index: 1;
//   position: relative;
//   cursor: pointer;
// }

// input:focus,
// input:focus-within,
// input:active,
// input:-internal-autofill-selected {
//   border: none;
//   box-shadow: none;
//   outline: none;
//   background: none !important;
// }

// textarea {
//   background: none;
// }

// textarea:focus,
// textarea:focus-within,
// textarea:active,
// textarea:-internal-autofill-selected {
//   border: none;
//   box-shadow: none;
//   outline: none;
//   background: none !important;
// }

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 6000000000000s 0s, color 6000000000000s 0s !important;
  -webkit-transition: background-color 6000000000000s 0s, color 6000000000000s 0s !important;
  -moz-transition: background-color 6000000000000s 0s, color 6000000000000s 0s !important;
  -ms-transition: background-color 6000000000000s 0s, color 6000000000000s 0s !important;
  -o-transition: background-color 6000000000000s 0s, color 6000000000000s 0s !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
