.wrapper {
  border-radius: 6px;
  height: 40px;
  width: fit-content;
  padding: 5px 11px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-color: var(--black);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  z-index: 1;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
}
