.wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--bg);
  padding: 0 20px;
  max-width: 1352px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 0 22px;
    height: 70px;
    visibility: visible;
    transition: all 250ms linear;
  }

  .hidden {
    visibility: hidden;
    transition: all 250ms linear;
    transform: translateY(-200%);
  }
}
