@media screen and (max-width: 768px) {
  .bg {
    background: rgba(13, 4, 34, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
  }

  .closedBg {
    right: -100%;
  }

  .collapsed {
    padding: 0 40px;
    height: 100%;
    width: 260px;
    background: var(--white);

    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    /* glass */

    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s ease-in;
  }

  .closed {
    right: -100%;
    bottom: 0;
    top: 0;
    width: 100%;
    transition: all 0.2s ease-in;
  }
}
